sudo: true # GCE
#sudo: false # container-based
language: c

os:
  - linux
  - osx

addons:
  apt:
    packages:
      - fio

env:
  matrix:
    - TEST=fio
    - TEST=UnixBench1
    - TEST=UnixBench2
      
before_install:
  - |
    if [[ $TEST == "fio" && $TRAVIS_OS_NAME == "osx" ]]; then
        brew update
        brew install fio
    fi

install:
  - |
    if [[ $TEST =~ ^UnixBench ]]; then
        wget https://github.com/kdlucas/byte-unixbench/archive/v5.1.3.tar.gz
        tar xvzf v5.1.3.tar.gz
        if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
            wget https://gist.github.com/barusan/11033924/raw/a4f8041dd651ba14b03710b383b9b8a194c323fb/UnixBench5.1.3.mavericks.patch
            cd byte-unixbench-5.1.3/UnixBench
            patch -p1 < ../../UnixBench5.1.3.mavericks.patch
        fi
    fi

script:
  - ./run-tests.sh
